@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: linear-gradient(45deg, #262626, #1A1515);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

header .menu{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 60px;
    height: 50px;
}

header img{
    width: 50px;
}

header .menu div{
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #d9d9d9;
}

section#home{
    height: calc(100dvh - 90px);
}


#home .titulos-botoes{
    z-index: 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home .titulos-botoes h1{
    color: white;
    line-height: 1.2;
    font-size: 80px;
}

#home .titulos-botoes .sobrenome{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white; 
}

#home .titulos-botoes h3{
  background: linear-gradient(45deg, #FFFFFF, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: bold;
}

#home .titulos-botoes h2{
  background: linear-gradient(45deg, #AC7300, #D88B00, #F2C600, #F2C600, #AC7300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: bold;
}

#home .buttons{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#home .buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    border-radius: 20px;
    padding: 5px;
}

#home .buttons button img{
    width: 30px;
}

#minha-foto{
    width: 100%;
    opacity: 0.8;
    z-index: 2;
}

section#sobre{
    padding-bottom: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-image: linear-gradient(45deg, #19191b, #2f2f30);
    z-index: 333 !important;
}

#sobre .titulo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#sobre .titulo-section h2:last-child{
    z-index: 20;
    color: white;
    font-size: 35px;
}

#sobre .titulo-section h2:first-child{
    z-index: 19;
    position: absolute;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    opacity: 0.4;
    -webkit-text-stroke-color: white; 
    font-size: 60px;
}

.texto-e-imagem{
    display: flex;
    flex-flow: column nowrap;
}

.box-text{
    gap: 40px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 0px 30px 30px 0;
}

.box-text h1 span{
     background: linear-gradient(45deg, #AC7300, #D88B00, #F2C600, #F2C600, #AC7300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.pixelarte{
    width: 100%;
    transform: translateY(10%);
}

.box-text p{
    text-align: justify;
}

.box-text img{
    width: 100%;
}
